body {
    background-color: #f38224;
}

.pai-main {
    font-family: 'Krona One', sans-serif;
    background-color: #f38224;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
 
.container {
    background: #fff;
    padding: 20px;
    border-radius: 15px 50px 30px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    text-align: center;
}
  
.titulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #080c31;
    margin-bottom: 20px;
}
  
.textInputCapa {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

label {
    color: #080c31;
    font-family: 'Krona One', sans-serif;
    font-weight: 100;
    font-size: 14px;
}
  
.textInput {
    width: 100%;
    padding: 8px;
    margin: 10px 0px;
    border: 2px solid #f38224;
    border-radius: 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
}

.textInput:hover {
    border: none;
    border-radius: 0;
    border-bottom: 4px solid #f38224;
    transition: 1s;
}

.textInput:focus {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #f38224;
    transition: 1s;
}
  
button {
    background-color: #f38224;
    padding: 10px 20px;
    border: none;
    border-radius: 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Krona One', sans-serif;
    font-weight: 100;
    font-size: 16px;
    transition: all .5s;
    border: solid transparent;
}

button:hover{
    border: 2px solid #fff;
    border-radius: 45%;
}

button.aprovado {
    background-color: #4CAF50;
    /* verde */
}
  
button.reprovado {
    background-color: #d40e00;
    /* vermelho */
}
  
#resultado {
    margin-top: 20px;
    font-weight: 300;
}